body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.productos {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
}

.producto {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.producto img {
    max-width: 150px;
    height: auto;
}

.producto-details {
    flex: 1;
    padding: 10px;
}

.producto h3 {
    margin: 0;
}

.producto p {
    font-weight: bold;
    margin: 0;
}

.cantidad {
    font-weight: bold;
}

.producto button {
    margin-left: auto;
}

.carrito {
    flex-basis: auto;
    padding: 20px;
}

.carrito h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.carrito .total {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.carrito .pagar {
    background-color: hsl(122, 39%, 49%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
}

.producto button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #c0392b;
}

.producto button:active {
    background-color: #96281b;
}

.producto button.eliminar {
    background-color: #e74c3c;
}

.producto button.eliminar:hover {
    background-color: #c0392b;
}

.producto button.eliminar:active {
    background-color: #96281b;
}
.custom-search {
    width: 300px; /* Ajusta el ancho según tus preferencias */
}








.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  